spring:
  cloud:
    gateway:
      routes:
        - id: test_route
          url: https://www.baidu.com
          predicates:
            - Query=url,baidu

        - id: qq_route
          url: https://www.qq.com
          predicates:
            - Query=url,qq

        - id: admin_route
          uri: lb://renren-fast
          predicates:
            - Path=/api/**
          filters:
            - RewritePath=/api/(?<segment>.*),/renren-fast/$\{segment}

